.header_text{
    color: blue;
    font-style: italic;
}

.footer-text{
    color: chocolate;
    text-transform: capitalize;
}
.sidebar-text{
    color: chartreuse;
    text-transform: capitalize;
}
.header{
    background: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 10%;
}
.logo{
    width:60%;
    background-color: cadetblue;
    object-fit: cover;
    height: 100%;
}
.site-menu{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}
.link{
color: white;
font-size: 18px;
font-weight: bolder;
text-decoration: none;
}
.active-link{
    color:orange ;
    text-decoration: underline;
}
.footer{
    color: brown;
    height: 5%;
}
.main-page{
    height: 100vh;
    box-sizing: border-box;
    /* border: 3px solid red; */
}
.page-content{
    height: 80%;
    /* border: 2px solid brown; */
    overflow: auto; 
}
.space{
    margin-bottom: 20px;
    margin-top: 20px;
}
.form-align{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label{
    width: 185px;
    display: inline-block;
    font-size: 18px;
}
.input{
    font-size: 18px;
}
.button{
    background-color: orangered;
    font-size: 18px;
    color: white;
    width: 200px;
    height: 30px;
}
.wrapper{
    border : 2px solid red;
    height: 80%;
    display: flex;
    flex-direction: row;
}
.sidebar{
    border: 2px solid;
    width: 25%;

}
.sub-page{
    border: 2px solid;
    width: 75%;
}
.msg{
    width: 185px;
    display: inline-block;
    font-size: 18px;
}
/* .btn
    height: 20%;
    width: 5%;
    margin-left: 10%;
} */
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}
.account_form{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.section{
    width: 100%;
    margin:5px;
}
.form_label{
    width: 35%;
    display: inline-block;
    font-size: 20px;
}
.form_input{
    font-size: 20px;
}
.textarea_center{
    display: flex;
    align-items: center;
}
.error-message{
    color:red;
    margin-left: 35%;
}
.error-msg{
    color:red;
    margin-right: 10%;
}
.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .customers tr:nth-child(even){background-color: #f2f2f2;}
  
  .customers tr:hover {background-color: #ddd;}
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  .profile_pic{
    width: 85px;
    border-radius: 60px;
  }
.page-align{
    width: 35%;
    margin-left: 10%;
}
.password-field{
width:88% !important;
display: inline-block !important;
margin-right: 5px;
}
.icon{
    cursor: pointer;
}
.red-text{
    color: red;
    font-weight: 500;
    margin-bottom: 5%;
}
.loader{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 4px;
}
